# App Configuration
APP_NAME=
PORT=
DEBUG=

# External API Providers
EXTERNAL_CONTENT_API_URL=
EMBED_STREAM_URL=
API_TIMEOUT=

# Stream Scraper Cache Settings
STREAM_CACHE_TTL=
STREAM_CACHE_MAXSIZE=

# Security & Database
DATABASE_URL=
JWT_SECRET_KEY=
CORS_ORIGINS=
